* {
  box-sizing: border-box;
}
.navigation {
  text-align: center;
  padding: 70px 0 0;
}
.menu {
  list-style-type: none;
  padding: 0;
}
.menu-item {
  display: inline-block;
  width: 20%;
}
.menu-item:hover{
    background-color: rgb(36, 235, 46);
}
.menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 24px;
}
.content {
  text-align: center;
}
.article {
  display: inline-block;
  width: 35%;
  margin: 100px 30px 30px;
  padding: 0px;
  text-align: left;
}
.image {
  width: 100%;
  height: 280px;
}
.article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-theme {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 17px;
}
.article-title {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 36px;
}
.article-text {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 24px;
  text-align: left;
}
.button {
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 24px;
  padding: auto;
  width: 162px;
  height: 58px;
  margin: 0;
  background-color: white;
  border: 1px solid rgb(98, 98, 98);
}
