* {
  font-family: "Roboto", monospace;
  /* border: 1px solid black; */
}
form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.container {
  display: flex;
  align-content: space-between;
}
.services,
.data {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  padding: 5px;
}
.services {
  width: 43%;
}
.data {
  width: 55%;
}
.input-wrap span {
  color: brown;
  margin: 10px;
  /* width: 100%; */
}
input {
  width: 95%;
  padding: 5px;
  margin: 3px;
}
table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0 10px;
  margin: 0 5px;
}
