* {
  box-sizing: border-box;
  color: rgb(15, 1, 1);
  margin: 0;
  padding: 0;
}
.content-area {
  width: 100%;
  max-width: 1170px;
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  /* background: chartreuse; */
}

/* Header */
.header {
  text-transform: uppercase;
  margin-top: 35px;
  padding: 0 30px;
  font-weight: 300;
}
.logo {
  float: left;
  margin: auto;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  color: #555252;
}
.logo a {
  text-decoration: none;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.nav {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  float: right;
  list-style-type: none;
}
.nav li:not(:last-child) {
  margin-right: 32px;
}
.nav-item {
  padding: 0.55em 0;
  display: inline-block;
}
.nav-item a {
  color: #0f0101;
  text-decoration: none;
  letter-spacing: -0.02em;
}
.nav-item a:hover {
  color: #1abc9c;
}

/* Section */
.section-title {
  margin-top: 105px;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}
.section-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 32px auto 92px;
}
.shop-section-title {
  color: #515151;
}
.news-section-title {
  color: #555252;
}

/* Shop */
.categories {
  display: inline-block;
  padding: 0 15px;
  font-size: 0;
  font-weight: 900;
}
.category-item {
  float: left;
  text-transform: uppercase;
  width: 255px;
  height: 322px;
  background: #e9f0fd;
  margin: 15px;
}
.category-picture img {
  width: 255px;
  height: 282px;
  object-fit: scale-down;
}
.category-item-footer {
  /* background: linear-gradient(
    90deg,
    #323232 0%,
    #323232 80%,
    #8c8c8c 80%,
    #8c8c8c 100%
  ); */
  background: #323232;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: left;
}
.category-item-name {
  float: left;
  width: 75%;
  color: #fff;
  padding: 0 8px;
}
.category-item-price {
  background: #ffffff70;
  color: #fff;
  float: right;
  padding: 0 8px;
  text-align: center;
}
.category-item-price::before {
  content: "$";
}
.category-item:hover .category-item-footer {
  /* background: linear-gradient(
    90deg,
    #1abc9c 0%,
    #1abc9c 80%,
    #7fd9c7 80%,
    #7fd9c7 100%
  ); */
  background: #1abc9c;
}

/* News */
.news {
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}
.news-item {
  float: left;
  width: 350px;
  margin: 15px;
}
.news-picture img {
  width: 350px;
  height: 262px;
  object-fit: cover;
}
.news-name {
  width: 100%;
  color: #555252;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
}
.news-name::after {
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  content: "";
  margin-top: 11px;
  margin-bottom: 29px;
}
.news-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

/* Button */
.button {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 19px 43px;
  background-color: #4ec6ab;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: #4ec6ab;
  border: 1px solid #626262;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
